.logo {
    height: 64px;
    overflow: hidden;
    /* 确保图片不会溢出div容器 */
}

.div-container img {
    width: 100%;
    /* 使图片宽度铺满div */
    height: 100%;
    /* 使图片高度铺满div */
    object-fit: cover;
    /* 裁剪并覆盖在容器内 */
}

.layout {
    min-height: 100vh;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
}

.right-layout {
    margin-left: 200px;
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 24px 16px 0;
    overflow: initial;
}

.inner-content {
    padding: 24px;
    background: #fff;
    text-align: center;
}

nz-footer {
    text-align: center;
}