
<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <img src="https://pic.netbian.com/uploads/allimg/240618/200512-1718712312b4e0.jpg"/></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/code" routerLinkActive="active">
        <span nz-icon nzType="file"></span>
        <span>爬虫代码</span>
      </li>
      <li nz-menu-item routerLink="/codeadmin" routerLinkActive="active">
        <span nz-icon nzType="file"></span>
          <span>代码管理</span>
      </li>
      <li nz-menu-item routerLink="/result" routerLinkActive="active">
        <span nz-icon nzType="file"></span>
          <span>爬虫结果</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>


