
<nz-layout class="layout">
  <nz-sider>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/code" routerLinkActive="active">
        <span nz-icon nzType="file"></span>
        <span>爬虫代码</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>


