

<div class="script">
    <form nz-form>
        <div nz-row class="script_base_info">
            <nz-form-item style="margin-right: 20px;">
                <nz-form-label>脚本名称</nz-form-label>
                <nz-form-control>
                    <input class="i_codeName" nz-input placeholder="请输入脚本名称" nzSize="small" />
                </nz-form-control>
            </nz-form-item>
            
            <nz-form-item style="margin-right: 20px;">
                <nz-form-label>内容分类</nz-form-label>
                <nz-form-control>
                    <nz-select nzShowSearch nzAllowClear [nzDropdownRender]="renderTemplate" nzPlaceHolder="请选择内容类别">
                        <nz-option *ngFor="let item of listOfItem" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                    <ng-template #renderTemplate>
                        <div class="container">
                            <input type="text" nz-input #inputElement />
                            <a class="add-item" (click)="addItem(inputElement)">
                                添加类别
                            </a>
                        </div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item >
                <nz-form-label>语言类型</nz-form-label>
                <nz-form-control>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择语言类型">
                        <nz-option *ngFor="let item of listOfItem" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="script_contetn">
            <nz-form-item>
                <nz-form-label>代码</nz-form-label>
                <nz-form-control>
                    <ngx-codemirror [(ngModel)]="codeContent"
                    [ngModelOptions]="{standalone: true}"
                    [options]="codeOption"></ngx-codemirror>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="script_file">
            <nz-form-item>
                <nz-form-label>上传代码</nz-form-label>
                <nz-form-control>
                    <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzDirectory>
                        <button nz-button>
                          <span nz-icon nzType="upload"></span>
                          Upload Directory
                        </button>
                      </nz-upload>          
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="script_submit">
            <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" (click)="addScript()">提交</button>
                </nz-form-control>
              </nz-form-item>
        </div>
    </form>
</div>